<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">

    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <!-- Logstash Appender -->
    <!--<appender name="SLACK" class="com.dat.parkstore.support.slack.SlackLogbackAppender"/>-->

    <!-- ALL > TRACE > DEBUG > INFO > WARN > ERROR > OFF -->
    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="com.bgf.shbank" level="DEBUG"/>

    <!-- Framework Category -->
    <logger name="org.apache" level="WARN" />
    <logger name="org.springframework" level="INFO" />

    <logger name="org.hibernate.SQL" level="WARN" />
    <logger name="org.hibernate.type" level="WARN" />
    <logger name="org.hibernate.engine.query" level="WARN" />
    <logger name="org.hibernate.jdbc" level="WARN" />

</configuration>
